:host {
  display: grid;

  grid-template-areas:
    'user user'
    'list post';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;

  margin: 10px;
}

mat-card {
  grid-area: user;

  mat-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

app-post-list {
  grid-area: list;
  overflow: auto;
}

app-post {
  grid-area: post;
}
