<mat-toolbar color="primary">
  <mat-form-field *ngIf="editing">
    <input matInput [formControl]="title" (blur)="setTitle()" />
  </mat-form-field>
  <ng-container *ngIf="!editing">
    <span>{{ title$ | async }}</span>
    <button mat-icon-button (click)="editing = true">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
