<mat-card>
  <mat-card-header>
    <mat-card-title>Posts on {{ title | async }}</mat-card-title>
    <button mat-icon-button (click)="createPost()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-action-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let post of posts | async"
        (click)="selectPost(post.id)"
        [class.mat-list-item-active]="post.id === selectedPostId"
        >{{ post.title }}</mat-list-item
      >
    </mat-action-list>
  </mat-card-content>
</mat-card>
