<mat-card *ngIf="post$ | async as post">
  <mat-card-header>
    <mat-form-field *ngIf="editingTitle">
      <input matInput [formControl]="title" (blur)="setTitle(post)" />
    </mat-form-field>
    <ng-container *ngIf="!editingTitle">
      <button mat-icon-button (click)="delete(post)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="editingTitle = true">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-card-title>{{ post.title }}</mat-card-title>
    </ng-container>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field *ngIf="editingBody">
      <input matInput [formControl]="body" (blur)="setBody(post)" />
    </mat-form-field>
    <ng-container *ngIf="!editingBody">
      <button mat-icon-button (click)="editingBody = true">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-card-title>{{ post.body }}</mat-card-title>
    </ng-container>
  </mat-card-content>
</mat-card>
